@model GuessTheSong.Models.DataModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="A simple song guessing game to play with your friends">
    <meta name="keywords" content="song,songs,guess,guessing,friends,social,game">
    <meta name="author" content="Stefan Timovski">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guess The Song</title>
    <link rel="stylesheet" href="~/site.css" />
</head>
<body>
    An error occurred, please try again later.
</body>
</html>
